<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Documentation — MERN v2.0</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Oxygen+Mono" rel="stylesheet" />
    <link rel="stylesheet" href="css/materialdesignicons.min.css" />
    <link type="text/css" rel="stylesheet" href="css/normalize.min.css" />
    <link type="text/css" rel="stylesheet" href="css/app.css" />
    <link rel="icon" type="image/png" href="images/mern-logo.png">
    
    <link rel="canonical" itemprop="url" href="http://mern.io"/>
    <meta property="og:title" content="MERN v2.0 Documentaton" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://mern.io" />
    <meta property="og:image" itemprop="image" content="http://res.cloudinary.com/hashnode/image/upload/v1466458696/static_imgs/mern/v2/mern-social-banner.png" />
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mern_io">
    <meta name="twitter:title" content="MERN v2.0 Documentaton">
    <meta name="twitter:description" content="MERN is a scaffolding tool which makes it easy to build isomorphic apps using Mongo, Express, React, NodeJS, Redux and Webpack. It minimizes the setup time and gets you up to speed using proven technologies.">
    <meta name="twitter:image" content="http://res.cloudinary.com/hashnode/image/upload/w_800,h_430,c_thumb/v1466458696/static_imgs/mern/v2/mern-social-banner.png">
</head>

<body>
    <div class="main">
        <header>
            <div class="nav-wrap">
              <a class="nav-toggle mdi mdi-menu" href="#"></a>
              <nav class="primary-nav">
                  <ul>
                      <li class="dot-wrap"><a href="#">MERN Deploy</a></li>
                      <li><a href="documentation.html">Documentation</a></li>
                      <li><a href="https://hashnode.com/n/mern" target="_blank">Support</a></li>
                      <li><a href="mailto:mern@hashnode.com">Contact</a></li>
                  </ul>
              </nav>
            </div>
            <h1 class="title"><a href="/">MERN <small>v2.0</small></a></h1>
        </header>
        <div class="doc-wrapper">
						<div class="doc-nav">
							<ul class="doc-nav-list">
								<li><a href="#quickstart">Quickstart</a></li>
								<li><a href="#available-commands">Available Commands</a></li>
								<li>
									<a href="#file-structure">File Structure</a>
									<ul>
										<li><a href="#webpack-configs">Webpack Configs</a></li>
										<li><a href="#server">Server</a></li>
										<li><a href="#server-side-rendering">Server Side Rendering</a></li>
										<li>
											<a href="#client">Client</a>
											<ul>
												<li><a href="#components">components</a></li>
												<li><a href="#indexjs">index.js</a></li>
												<li><a href="#modules">modules</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<a href="#misc">Misc</a>
									<ul>
										<li><a href="#importing-assets">Importing Assets</a></li>
										<li><a href="#es6-support">ES6 support</a></li>
										<li><a href="#docker">Docker</a></li>
										<li><a href="#make-your-mern">Make your MERN</a></li>
                    <li>
                      <a href="#modifying-generators">Modifying Generators</a>
                      <ul>
                        <li><a href="#mernjson">mern.json</a></li>
                        <li><a href="#blueprint-files">Blueprint files</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#caveats">Caveats</a>
                      <ul>
                        <li><a href="#fouc">FOUC (Flash of Unstyled Content)</a></li>
                      </ul>
                    </li>
									</ul>
								</li>
                <li><a href="#roadmap">Roadmap</a></li>
							</ul>
						</div>
						<div class="doc-content">
              <h1 id="documentation">Documentation</h1>
              <p>MERN is a scaffolding tool which makes it easy to build isomorphic apps using Mongo, Express, React and NodeJS. It minimises the setup time and gets you up to speed using proven technologies.</p>
              <h2 id="quickstart">Quickstart</h2>
              <pre><code>npm install -g mern-cli
mern init your_new_app
cd your_new_app
npm install
npm start</code></pre>
              <b><p>Note : Please make sure your MongoDB is running. For MongoDB installation guide see <a href="https://docs.mongodb.org/v3.0/installation/" target="_blank">this</a>.</p></b>
              
              <h2 id="available-commands">Available Commands</h2>
              <ol>
                <li><code>npm run start</code> - starts the development server with hot reloading enabled</li>
                <li><code>npm run start:prod</code> - bundles the code and starts the production server</li>
                <li><code>npm run test</code> - start the test runner</li>
                <li><code>npm run watch:test</code> - start the test runner with watch mode</li>
                <li><code>npm run coverage</code> - generates test coverage report</li>
                <li><code>npm run lint</code> - runs linter to check for lint errors</li>
              </ol>
              
              <h2 id="file-structure">File Structure</h2>
              
              <h3 id="webpack-configs">Webpack Configs</h3>
              <p>MERN uses Webpack for bundling modules. There are four types of Webpack configs provided <code>webpack.config.dev.js</code> (for development), <code>webpack.config.prod.js</code> (for production), <code>webpack.config.server.js</code> (for bundling server in production) and <code>webpack.config.babel.js</code> (for <a href="https://github.com/istarkov/babel-plugin-webpack-loaders" target="_blank">babel-plugin-webpack-loaders</a> for server rendering of assets included through webpack).</p>
              <p>The Webpack configuration is minimal and beginner-friendly. You can customise and add more features to it for production build.</p>
              
              <h3 id="server">Server</h3>
              <p>MERN uses express web framework. Our app sits in server.js where we check for NODE_ENV.</p>
              <p>If NODE_ENV is development, we apply Webpack middlewares for bundling and Hot Module Replacement.</p>
              
              <h4 id="server-side-rendering">Server Side Rendering</h4>
              <p>We use React Router's match function for handling all page requests so that browser history works.</p>
              <p>All the routes are defined in client/routes.js. React Router renders components according to route requested.</p>
              <script src="https://gist.github.com/somus/d24ee72a6dd6f8ae3787bd8186c63658.js"></script>
              <p><code>match</code> takes two parameters, first is an object that contains routes, location and history and second is a callback function which is called when routes have been matched to a location.</p>
              <p>If there's an error in matching we return 500 status code, if no matches are found we return 404 status code. If a match is found then, we need to create a new Redux Store instance.</p>
              <p><strong>Note:</strong> A new Redux Store is populated afresh on every request.</p>
              <p><code>fetchComponentData</code> is the essential function. It takes three params: first is a dispatch function of Redux store, the second is an array of components that should be rendered in current route and third is the route params. <code>fetchComponentData</code> collects all the needs (need is an array of actions that are required to be dispatched before rendering the component) of components in the current route. It returns a promise when all the required actions are dispatched. We render the page and send data to the client for client-side rendering in <code>window.__INITIAL_STATE__</code>.</p>

              <h3 id="client">Client</h3>
              <p>Client directory contains all the shared components, routes, modules.</p>

              <h4 id="components">Components</h4>
              <p>This folder contains all the common components which are used throughout the project.</p>

              <h4 id="indexjs">index.js</h4>
              <p>Index.js simply does client side rendering using the data provided from <code>window.__INITIAL_STATE__</code>.</p>

              <h4 id="modules">modules</h4>
              <p>Modules are the way of organising different domain-specific modules in the project. A typical module contains the following</p>
              <pre>
<code>| - Post

  | - __tests__ // all the tests for this module goes here
      | - components // Sub components of this module
          | - Post.spec.js
          | - PostList.spec.js
          | - PostItem.spec.js
          | - PostImage.spec.js
      | - pages
          | - PostPage.spec.js
          | - PostViewPage.spec.js
      | - PostReducer.spec.js
      | - PostActions.spec.js
  | - components // Sub components of this module
      | - Post.js
      | - PostList.js
      | - PostItem.js
      | - PostImage.js
  | - pages // React Router Pages from this module
      | - PostPage
          | - PostPage.js
          | - PostPage.css
      | - PostViewPage
          | - PostViewPage.js
          | - PostViewPage.css
  | - PostReducer.js
  | - PostActions.js</code></pre>

              <h3 id="misc">Misc</h3>
              <h4 id="importing-assets">Importing Assets</h4>
              <p>Assets can be kept where you want and can be imported into your js files or css files. Those fill be served by webpack in development mode and copied to the dist folder during production.</p>

              <h4 id="es6-support">ES6 support</h4>

              <p>We use babel to transpile code in both server and client with <code>stage-0</code> plugin. So, you can use both ES6 and experimental ES7 features.</p>

              <h4 id="docker">Docker</h4>

              <p>There are docker configurations for both development and production.</p>

              <p>To run docker for development,</p>
              <pre>
<code>docker-compose -f docker-compose-development.yml build
docker-compose -f docker-compose-development.yml up</code></pre>
              <p>To run docker for production,</p>
              <pre><code>docker-compose build
docker-compose up</code></pre>

              <h3 id="make-your-mern">Make your MERN</h3>
              <p>In this version, we enabled the <code>mern-cli</code> to clone not only this project but also the variants of <code>mern-starter</code> like one project with MaterialUI or JWT auth. To make your version of MERN, follow these steps</p>
              <ol>
                <li>
                  <p>Clone this project</p>
                  <pre><code>git clone https://github.com/Hashnode/mern-starter</code></pre>
                </li>
                <li>
                  <p>Make your changes. Add a package, add authentication, modify the file structure, replace Redux with MobX or anything else.</p>
                </li>
                <li>
                  <p>In this version, we also added code generators. Blueprints for those generators are located at <code>config/blueprints</code>, and config is located at <code>mern.json</code>. Make sure to edit them if necessary after your made modifications in the previous step. There is a section below which explains how to modify generators.</p>
                </li>
                <li>
                  <p>Next clone <code>mern-cli</code> project</p>
                  <pre><code>git clone https://github.com/Hashnode/mern-cli</code></pre>
                </li>
                <li>
                  <p>Add your project details to <code>variants.json</code> in the cloned project and send a pull request.</p></li>
              </ol>

              <h3 id="modifying-generators">Modifying Generators</h3>

              <h4 id="mernjson">mern.json</h4>
              <p>It contains a blueprints array. Each object in it is the config for a generator. A blueprint config contains the name, description, usage, and files array. An example blueprint config</p>
              <pre><code>{
  "name": "dumb-s",
  "description": "Generates a dumb react component in shared components",
  "usage": "dumb-s [component-name]",
  "files": [
    {
      "blueprint-path": "config/blueprints/dumb-component.ejs",
      "target-path": "client/components/&lt;%= helpers.capitalize(name) %&gt;.js"
    }
  ]
}</code></pre>
              <p>A file object contains</p>
              <ol>
                <li>
                  <p><code>blueprint-path</code> - location of the blueprint file</p>
                </li>
                <li>
                  <p><code>target-path</code> - location where the file should be generated</p>
                </li>
                <li>
                  <p><code>parent-path</code> - optional parameter, used if you want to generate the file inside an already existing folder in your project.</p>
                </li>
              </ol>
              <p>Also, <code>target-path</code> supports <a href="https://github.com/mde/ejs">ejs</a> and the following variables will be passed while rendering,</p>
              <ol>
                <li>
                  <p><code>name</code> - <code><component-name></code> input from user</p>
                </li>
                <li>
                  <p><code>parent</code> - in particular special cases where you need to generate files inside an already existing folder, you can obtain this parent variable from the user. A config using that will look like,</p>
                  <pre><code>{
  "name": "dumb-m",
  "description": "Generates a dumb react component in a module directory",
  "usage": "dumb-m <module-name>/<component-name>",
  "files": [
    {
      "blueprint-path": "config/blueprints/dumb-component.ejs",
      "parent-path": "client/modules/<%= helpers.capitalize(parent) %>",
      "target-path": "components/<%= helpers.capitalize(name) %>/<%= helpers.capitalize(name) %>.js"
    }
  ]
}</code></pre>
                  <p>Here, notice the usage. In <code><module-name>/<component-name></code>, <code><module-name></code> will be passed as <code>parent</code> and <code><component-name></code> will be passed as <code><name></code>.</p>
                </li>
                <li>
                  <p><code>helpers</code> - an helper object is passed which include common utility functions. For now, it contains <code>capitalize</code>. If you want to add more, send a PR to <a href="https://github.com/Hashnode/mern-cli">mern-cli</a>.</p>
                </li>
              </ol>
              
              <h4 id="blueprint-files">Blueprint files</h4>
              <p>Blueprints are basically <a href="https://github.com/mde/ejs">ejs</a> templates which are rendered with the same three variables(<code>name</code>, optional <code>parent</code> and <code>helpers</code> object) as above.</p>

              <h3 id="caveats">Caveats</h3>
              <h4 id="fouc">FOUC (Flash of Unstyled Content)</h4>
              <p>To make the hot reloading of CSS work, we are not extracting CSS in development. Ideally, during server rendering, we will be extracting CSS, and we will get a .css file, and we can use it in the html template. That's what we are doing in production.</p>
              <p>In development, after all scripts get loaded, react loads the CSS as BLOBs. That's why there is a second of FOUC in development.</p>

              <h2 id="roadmap">Roadmap</h2>
              <p>The roadmap discussion thread for v2.0.0 can be found <a href="https://github.com/Hashnode/mern-starter/issues/146">here</a>.</p>

              <h2 id="license">License</h2>
              <p>MERN is released under the <a href="http://www.opensource.org/licenses/MIT">MIT License</a>.</p>
						</div>
				</div>
        <footer>
          <a href="https://twitter.com/mern_io" target="_blank" title="Follow MERN on Twitter" class="twitter-button"><i class="mdi mdi-twitter"></i> @mern_io</a>
          <p>MERN Starter and cli projects are released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.</p>
          <p>&copy; 2016 <a href="https://hashnode.com" target="_blank">Hashnode</a>, LinearBytes Inc. Delware. All rights reserved.</p>
        </footer>
    </div>
    <a href="https://twitter.com/share?url=http%3A%2F%2Fmern.io&via=mern_io&text=Build%20production%20ready%20universal%20apps%20using%20MERN%20Stack%20v2.0&hashtags=MongoDB%2CExpressJS%2CReactJS%2CNodeJS" target="_blank" class="float-fab"><i class="mdi mdi-twitter"></i></a>
    <div class="modal-container">      
      <div class="modal-content">
        <a href="#" class="close-modal">x</a>
        <img src="http://res.cloudinary.com/hashnode/image/upload/v1466428468/static_imgs/mern/v2/deploy.png" class="feat-img"/>
        <h2 id="mern-deploy">MERN Deploy</h2>
        <p>MERN Deploy is an experiment where you can easily deploy MERN based app to the cloud. It's in private beta mode.<br/><br/>Interested? Sign up using your email below.</p>
        <form class="subscribe-form" action="http://XXXXXXXXXlist-manage2.com/subscribe/post" method="POST" target="_blank">
          <input type="hidden" name="u" value="XXXXXXXXXXXXXXXX">
          <input type="hidden" name="id" value="XXXXXXXXX">
          <input class="email-field" name="MERGE1" type="text" placeholder="Enter your email" required/>
          <input type="submit" name="submit" class="send-btn" title="Send" value="Submit"/>
        </form>
        <div class="form-message" style="display: none">
          <p>Thanks for showing interest! We'll get in touch soon. :) </p>
        </div>
      </div>
    </div>
    <script src="js/jquery.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $('.nav-toggle').click(function(e){
        e.preventDefault();
        $('.primary-nav').toggleClass('nav-open');
      });

      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: (target.offset().top)
            }, 300);
            return false;
          }
        }
      });
      
      $('.dot-wrap a').click(function(e){
        e.preventDefault();
        $('.modal-container').addClass('show-modal');
      });
      
      $('.close-modal').click(function(e){
        e.preventDefault();
        $('.modal-container').removeClass('show-modal');
      });
      
      $(this).keyup(function(e) {
           if (e.keyCode == 27) { 
              if($('.modal-container').hasClass('show-modal')){
                $('.modal-container').removeClass('show-modal');
              }
          }
      });

      $('.subscribe-form').submit(function(e) {
        e.preventDefault();
        var $this = $(this);
        $.ajax({
          type: "GET",
          url: "http://XXXXXXXX.list-manage2.com/subscribe/post-json?c=?",
          data: $this.serialize(),
          dataType: 'json',
          contentType: "application/json; charset=utf-8",
          error: function() {
            alert("Couldn't register. Something went wrong.");
          },
          success: function(data) {
            if (data.result !== "success") {
              $this.submit();
            } else {
              $('.subscribe-form').css('display', 'none');
              $('.form-message').css('display', 'block');
            }
          }
        });
        return false;
      });
      
      if($(window).width() >= 1024){
        $(window).scroll(function() {
            if ($(window).scrollTop() + $(window).height() >= ($(document).height() - 400)) {
                if (!$('.float-fab').hasClass('show-fab')) {
                    $('.float-fab').addClass('show-fab');
                }
            } else {
                if ($('.float-fab').hasClass('show-fab')) {
                    $('.float-fab').removeClass('show-fab');
                }
            }
        });
        
        $('pre').perfectScrollbar();
      }
    });
    </script>
</body>

</html>